//colors
$white: white;
$light-gray-border: #eee;
$violet: #3f51b5;
$light-gray-pre-border: #e1e1e1;

//fonts
$font_0: 'Menlo';
$font_1: 'Bitstream Vera Sans Mono';
$font_2: 'DejaVu Sans Mono';
$font_3: 'Monaco';
$font_4: 'Consolas';
$font_5: 'monospace';

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-align: center;
  -ms-justify-content: center;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.landing-page {
  @extend .center;
  text-align: center;
  height: 100vh;
  background-image: url('./img/blurred_lines-min.jpeg');
  background-size: cover;
  color: $white;
}

section {
  text-align: center;
  &.landing-page {
    display: flex;
  }
}

.landing-page__title {
  white-space: nowrap;
  h1 {
    display: inline;
    font-weight: bold;
    vertical-align: middle;
  }
  img {
    vertical-align: middle;
    max-width: 4rem;
  }
}

.landing-page__text {
  margin-top: 2rem;
  h4 {
    font-size: 2rem;
  }
}

.landing-page__download-button {
  margin: 4rem 0 2rem;
}

.tool {
  @extend .center;
  height: 7rem;
}

.tools {
  margin-top: 2rem;
  border-bottom: 1px solid $light-gray-border;
  img {
    width: 3rem;
    vertical-align: middle;
  }
}

.instructions,
.deploy {
  margin-top: 2rem;
}

.prerequisites,
.design {
  margin-top: 2rem;
  border-bottom: 1px solid $light-gray-border;
}

.footer__credits {
  font-weight: 100;
  font-size: 1.1rem;
  text-align: left;
  p {
    margin-bottom: 0.5rem;
  }
}

.footer__about {
  h6 {
    margin: 1rem;
  }
  img {
    max-width: 2rem;
    margin: 0 1rem 3rem;
  }
}

footer {
  background-color: $violet;
  color: $white;
  text-align: center;
}

pre {
  word-wrap: break-word;
  background: $white;
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5;
  padding: 2.5rem 3rem;
  -webkit-font-smoothing: antialiased;
  border: 1px solid $light-gray-pre-border;
  border-radius: 4px;
  text-align: left;
  margin: 1.5rem 0 1.5rem;
}

.pre {
  font-size: 1.1rem;
}

@media(min-width: 400px) {
  .landing-page__title {
    img {
      vertical-align: middle;
      max-width: 8rem;
    }
    h1 {
      font-size: 7rem;
    }
  }
  .landing-page__text {
    margin-top: 3rem;
    h4 {
      font-size: 2.4rem;
    }
  }
  .tools {
    margin-top: 3rem;
    img {
      width: 3rem;
      vertical-align: middle;
    }
  }
  .prerequisites,
  .instructions,
  .design,
  .deploy {
    margin-top: 3rem;
  }
  footer {
    padding: 2rem 0 1rem;
  }
  .footer__about img {
    max-width: 2rem;
    margin: 0 1rem 3rem;
  }
}

@media(min-width: 750px) {
  .landing-page__title {
    img {
      vertical-align: middle;
      max-width: 13rem;
    }
    h1 {
      font-size: 10rem;
    }
  }
  .landing-page__text {
    margin-top: 9rem;
  }
  .tools {
    margin-top: 5rem;
    img {
      width: 3rem;
      vertical-align: middle;
    }
  }
  .prerequisites,
  .instructions,
  .design,
  .deploy {
    margin-top: 5rem;
  }
  .pre {
    font-size: 1.3rem;
  }
  footer {
    padding: 4rem 0 1rem;
  }
  .footer__about img {
    max-width: 3rem;
    margin: 0 1rem 3rem;
  }
}
